body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 900px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}