.container {
    margin: 50px;
    width: 800px;
}

.card {
    margin: 0 3% !important;
}

.infected {
    color: blue;
    opacity: 0.75;
}

.recovered {
    color: green;
    opacity: 0.75;
}

.deaths {
    color: red;
    opacity: 0.75;
}

@media (max-width: 770px) {
    .card {
        margin: 3% 0 !important;
    }
}